.modal-big {
	max-width: none !important;
	max-height: none !important;
	width: 80% !important;
}

@media only screen and (max-width: 580px) {
    .modal-big {
        width: 100% !important;
    }
}

.modal-body {
    align-self: center;
    width: 100%;
    text-align: -webkit-center;
}

.modal-footer {
	justify-content: space-between;
}

#ResumeContainer {
	margin: auto;
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.PDFDocument {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.PDFPage {
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	& > canvas {
		max-width: 100%;
		height: auto !important;
	}
}
.PDFPageOne {
	margin-bottom: 25px;
	overflow: hidden !important;
	display: inline-flex;
}

.react-pdf__Page__annotations {
	display: none;
}