.scroll {
    overflow-y: scroll;
    border: 1px solid black;
    height: 82vh;
    overflow-x: hidden;
    @include respond(phone) {
        height: 84vh;
    }
    @include respond(phone-xs) {
        height: max-content;
    }
}