.scroll {
    overflow-y: scroll;
    border: 1px solid black;
    height: 78vh;
    overflow-x: hidden;
    @include respond(big-desktop) {
        height: 80vh;
    }
    @include respond(tab-land) {
        height: 76vh;
    }
    @include respond(phone) {
        height: 78vh;
    }
    @include respond(phone-xs) {
        height: 80vh;
    }
}