#projects {
  background-color: inherit;
  color: inherit;
  margin-top: -10rem;
  padding-top: 15rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 20px;

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;
      margin-bottom: 1.8rem;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        margin-top: 1.8rem;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $link-color;

        &:hover {
          text-shadow: 0.25px 0 0 $dark-blue-text, -0.25px 0 0 $dark-blue-text, 0 0.25px 0 $dark-blue-text, 0 -0.25px 0 $dark-blue-text;
          -webkit-box-shadow: 0.2rem 0.2rem 0.4rem rgba($black-color, 0.5);
          box-shadow: 0.2rem 0.2rem 0.4rem rgba($black-color, 0.5);
        }
      }
    }

    &__image {
      width: 90%;
      margin-top: 6.5rem;

      @include respond(tab-land) {
        width: 100%;
        margin-top: 0rem;
      }

      & .thumbnail {
        border: none;
        box-shadow: 0 3px 6px rgba($black-color, 0.16), 0 3px 6px rgba($black-color, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba($black-color, 0.08), 0 0 6px rgba($black-color, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
          0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        @include respond(phone) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}


.accordion-content {
	padding: 0px 10px;
}
.accordion-button {
	text-align: left;
	margin-bottom: unset !important;
	padding-bottom: 1.8rem;
	&:hover {
		cursor: pointer;
	}
}
.wrapper {
	border: 2px solid #fafafa;
	margin-bottom: 20px;
	border-radius: 20px;
	padding: 5px 10px 0px 10px;
	box-shadow: 5px 5px #f8f8f8;
	transition: all .5s ease-in-out;
	&:hover,
  &:active  {
		background: rgba($primary-color, 0.2);
    box-shadow: 2px 2px $dark-grey;
		transform: scale(1.03);
	}
}
.years {
  margin: 0px 0px 50px 0px;
  padding: 20px;
  border: 0.5px solid;
	border-radius: 50px;
  &:hover,
  &:active {
    background: rgba($secondary-color, 0.2);
    transform: scale(1.01);
  }
}
#projects {
	margin-bottom: 30px;
}

.button-bar {
  display: flex;
  margin: 20px 0px;
}