.modal-big {
    max-width: none !important;
    max-height: none !important;
    width: 80% !important;
}

@media only screen and (max-width: 580px) {
    .modal-big {
        width: 100% !important;
    }
}

#ResumeContainer {
    margin:auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PDFDocument {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PDFPage {
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.PDFPageOne {
    margin-bottom: 25px;
    overflow: hidden !important;
}

.PDFPage > canvas {
    max-width: 100%;
    height: auto !important;
}